# image to image
gguf>=0.13.0
protobuf>=4.25.3

# matting
diffusers>=0.32.2
accelerate
clip_interrogator>=0.6.0
lark
onnxruntime
opencv-python
matplotlib
peft>=0.14.0
numpy>=1.19.0
huggingface_hub>=0.25.0
transformers>=4.48.0

# was-node-suite-comfyui
cmake
fairscale>=0.4.4
git+https://github.com/WASasquatch/img2texture.git
git+https://github.com/WASasquatch/cstr
gitpython
imageio
joblib
numba
opencv-python-headless[ffmpeg]
pilgram
git+https://github.com/WASasquatch/ffmpy.git
rembg
scikit-image>=0.20.0
scikit-learn
timm>=0.4.12



# ComfyUI-easycontrol
easydict
requests

